@import url('https://fonts.googleapis.com/css?family=Inter:600');

@import "scrim";
@import "breakpoints";
@import "site";

.logo {
  height: 150px;
}

body > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $gray;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 5rem;

  a {
    margin: 0 1rem;
    font-size: 1.2rem;
  }

  .logo {
    height: 80px;
  }

  .container {
    display: flex;
    align-items: center;
  }
}

.shade {
  @include scrimGradient($gray);
  position: absolute;
  bottom:0;
  left:0;
  height: 50%;
  width: 100%;
  opacity: 0.8;

  &.reverse {
    transform: rotate(180deg);
  }
}

.split-col {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;

  > * {
    flex: 1;
    padding: 15px;
  }
}
